{% extends 'logedin.html' %}
{% block title %} Change Password {% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="container mx-auto py-8">
      <div class="mb-8">
        <a class="text-blue-500 hover:text-blue-700" href="#">← Go back</a>
        <h1 class="text-3xl font-bold mb-4">Change Your Account Password</h1>
      </div>
  
      <!-- Change password form -->
      <form class="bg-white rounded-lg shadow-md px-6 py-8" method="post">
          {% csrf_token %}
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="id_old_password">
            Old Password
          </label>
          <input
            class="border border-gray-400 py-2 px-3 rounded-lg w-full"
            name="old_password"
            id="id_old_password"
            type="password"
            placeholder="Enter your old password"
            required
          />
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="id_new_password1">
            New Password
          </label>
          <input
            required
            class="border border-gray-400 py-2 px-3 rounded-lg w-full"
            id="id_new_password1"
            name="new_password1"
            type="password"
            placeholder="Enter your new password"
          />
        </div>
  
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="id_new_password2">
            Confirm New Password
          </label>
          <input
            required
            id="id_new_password2"
            class="border border-gray-400 py-2 px-3 rounded-lg w-full"
            name="new_password2"
            type="password"
            placeholder="Confirm your new password"
          />
        </div>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red"> {{ error | escape }} </p>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <div class="flex items-center justify-center">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Change Password
          </button>
        </div>
      </form>
    </div>
{% endblock %}