{% extends 'anonymous.html' %}

{% block title %} Join us! {% endblock %}


{% block content %}
    <div class="container mx-auto py-8">
      <h1 class="text-4xl font-bold text-center mb-4">Join and chat!</h1>
      <h2 class="text-lg text-center mb-8">Create account or Login!</h2>

      <form class="max-w-lg mx-auto" method="post">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="username">
            Username
          </label>
          <input
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="username"
            type="text"
            placeholder="Enter your username"
          />

        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="password1">
            Password
          </label>
          <input
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="password1"
            type="password"
            placeholder="Enter your password"
          />

        </div>
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="password2">
            Confirm Password
          </label>
          <input
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="password2"
            type="password"
            placeholder="Confirm your password"
          />
        </div>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
          <p style="color: red;"> {{error | escape}} </p>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Create Account
          </button>
          <a
            class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
            href="{% url 'Login' %}"
          >
            Already have an account? Log in.
          </a>
        </div>

      </form>
      
    </div>
{% endblock %}
